body{
    font-family: Arial;
    text-align:center;
    background-color:#f4f9ff;
}

h1{
    background-color:#003366;
    color:white;
    padding:15px;
}

.rack{
    width:60%;
    margin:auto;
}

.row{
    border:1px solid #ccc;
    padding:15px;
    margin:10px;
    background:white;
}

button{
    padding:8px 15px;
    background:#0066cc;
    color:white;
    border:none;
}

button:hover{
    background:#004c99;
}

table{
    margin-top:20px;
}

#message{
    margin-top:20px;
    font-weight:bold;
    color:green;
}